.flows.json.backup
[
    {
        "id": "dbab6edfda7971c1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cf1453eb80b45c35",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "c3l5o0rb2a6o4l.cluster-czz5s0kz4scl.eu-west-1.rds.amazonaws.com",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "d24smrlddl3o6r",
        "databaseFieldType": "str",
        "ssl": "{ \"require\": true, \"rejectUnauthorized\": false }",
        "sslFieldType": "json",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "u3o5m09c1bkaba",
        "userFieldType": "str",
        "password": "pbfdd59cb11d1c99c9ba14ec9f634f458bc82694a22cee30e4534dd8da3783961",
        "passwordFieldType": "str"
    },
    {
        "id": "022207e55802b8f3",
        "type": "inject",
        "z": "dbab6edfda7971c1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "892d19e13d561664"
            ]
        ]
    },
    {
        "id": "892d19e13d561664",
        "type": "postgresql",
        "z": "dbab6edfda7971c1",
        "name": "",
        "query": "SELECT * FROM countries;",
        "postgreSQLConfig": "cf1453eb80b45c35",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 370,
        "y": 100,
        "wires": [
            [
                "d015e2d9c547fff8"
            ]
        ]
    },
    {
        "id": "d015e2d9c547fff8",
        "type": "debug",
        "z": "dbab6edfda7971c1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 100,
        "wires": []
    }
]