.flows.json.backup
[
    {
        "id": "dbab6edfda7971c1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "39bab5e26253c8ec",
        "type": "group",
        "z": "dbab6edfda7971c1",
        "name": "GET Countries",
        "style": {
            "label": true
        },
        "nodes": [
            "892d19e13d561664",
            "59cddae29935302b",
            "3fa02e6179b373a7",
            "7798693f4d1c5ad7",
            "fab558f57eee55da",
            "5c48384cd53ed955"
        ],
        "x": 934,
        "y": 19,
        "w": 1012,
        "h": 122
    },
    {
        "id": "5e64576d309c62f9",
        "type": "group",
        "z": "dbab6edfda7971c1",
        "name": "List Organizations",
        "style": {
            "label": true,
            "stroke": "#9363b7",
            "fill": "#dbcbe7",
            "color": "#000000"
        },
        "nodes": [
            "e17212fe24b99c7d",
            "98c7524b6625525b",
            "10fe39b43b926ffa",
            "5ccdd48129b1bb9b",
            "4850bfe9234cfc08",
            "fb2c076c83639249"
        ],
        "x": 74,
        "y": 259,
        "w": 1052,
        "h": 142
    },
    {
        "id": "14a048fb108bd56c",
        "type": "group",
        "z": "dbab6edfda7971c1",
        "name": "Error management",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffbfbf",
            "label": true,
            "label-position": "n",
            "color": "#ffffff"
        },
        "nodes": [
            "7e9f1c02.7f6d4",
            "4b4b8c6c.7a4644",
            "6d5f7d78.22c164",
            "35edc91d.7b924e",
            "5d2c72d4.7c8dec",
            "3c2ec599cb5c2c3e"
        ],
        "x": 94,
        "y": 19,
        "w": 732,
        "h": 202
    },
    {
        "id": "aad75d5c826ca0b1",
        "type": "group",
        "z": "dbab6edfda7971c1",
        "name": "List Members",
        "style": {
            "stroke": "#3f93cf",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "f45c59e0.16d8c",
            "cbf657c0.fdae98",
            "c2f7fbb0.89f8a8",
            "9e9d7e60.87b97",
            "a1f8c1b0.8a3f9",
            "d4d62d83d3a983e7"
        ],
        "x": 84,
        "y": 759,
        "w": 1062,
        "h": 162
    },
    {
        "id": "ba352a33ad13b2d1",
        "type": "group",
        "z": "dbab6edfda7971c1",
        "name": "Create Members",
        "style": {
            "stroke": "#3f93cf",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "6d7427d7f4446999",
            "92b39ec92961af98",
            "22db6159d7c74659",
            "a5b57367463c4ecf",
            "e4a8ee9f08e8c364",
            "2b7eed18ecbca6f1",
            "54387abb3b891c74"
        ],
        "x": 94,
        "y": 939,
        "w": 1152,
        "h": 142
    },
    {
        "id": "2d9b645b715b3674",
        "type": "group",
        "z": "dbab6edfda7971c1",
        "name": "Get Member Info",
        "style": {
            "stroke": "#3f93cf",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "4e6ae77d45269344",
            "541012e863a8c76e",
            "a23c829360ae74a5",
            "fe0cb3ef10d094be",
            "f586c686d6c6d459",
            "41226e2964bced0c",
            "82295bac7cc91747"
        ],
        "x": 94,
        "y": 1099,
        "w": 1242,
        "h": 162
    },
    {
        "id": "383b1f1fa33c8505",
        "type": "group",
        "z": "dbab6edfda7971c1",
        "name": "Create Organizations",
        "style": {
            "stroke": "#9363b7",
            "fill": "#dbcbe7",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "85eb02be4a9401ad",
            "63739fed659fe368",
            "76cd51faaace4d2a",
            "4cbff012b0a8503e",
            "b15896363a42e71b",
            "5f67325b39410bc6",
            "cee2b67c7a1b2eb8"
        ],
        "x": 54,
        "y": 599,
        "w": 1232,
        "h": 142
    },
    {
        "id": "05b8ed53065a8cd1",
        "type": "group",
        "z": "dbab6edfda7971c1",
        "name": "Get Organization Info",
        "style": {
            "stroke": "#9363b7",
            "fill": "#dbcbe7",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "aeaf33e6aaa4f214",
            "cd60ed703e819022",
            "213939d54a3fc324",
            "9b103e3f30e49e8d",
            "eacd64c8e4844be5",
            "2e0619425460a3d3",
            "4fa2ca320785a2e4"
        ],
        "x": 54,
        "y": 419,
        "w": 1242,
        "h": 162
    },
    {
        "id": "2b91f5927dfc193f",
        "type": "group",
        "z": "dbab6edfda7971c1",
        "name": "List Activities",
        "style": {
            "stroke": "#addb7b",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "5a7ada1f4c09f766",
            "b374cb0fea6b3897",
            "c2478e40eca32f8d",
            "0ca2e856aba81c1d",
            "a507e8ae8429cd78",
            "aef9c751fd89b4db"
        ],
        "x": 64,
        "y": 1299,
        "w": 1062,
        "h": 162
    },
    {
        "id": "4e3f58172aca87d0",
        "type": "group",
        "z": "dbab6edfda7971c1",
        "name": "Create Activity",
        "style": {
            "stroke": "#addb7b",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "238b583f038c7769",
            "f5b74102881341fa",
            "307e56627f59548e",
            "bf2f9e68553ccb75",
            "ed2d2dc8c080fab8",
            "18a014b66159eb6f",
            "bc531713bb82c1d0"
        ],
        "x": 74,
        "y": 1479,
        "w": 1152,
        "h": 142
    },
    {
        "id": "aefbdd2e49c81e3f",
        "type": "group",
        "z": "dbab6edfda7971c1",
        "name": "Get Activity Info",
        "style": {
            "stroke": "#addb7b",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "b019c1b471ba4625",
            "1b1493fa8a5b9912",
            "45582769dbee1f97",
            "98680c88a7e3bbb2",
            "85a14efd439eb0a3",
            "36a435dd5284487f",
            "aac726b02e5b233f"
        ],
        "x": 74,
        "y": 1639,
        "w": 1242,
        "h": 162
    },
    {
        "id": "cf1453eb80b45c35",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "DB_HOST",
        "hostFieldType": "env",
        "port": "DB_PORT",
        "portFieldType": "env",
        "database": "DB_NAME",
        "databaseFieldType": "env",
        "ssl": "{\"require\":true,\"rejectUnauthorized\":false}",
        "sslFieldType": "json",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "DB_USER",
        "userFieldType": "env",
        "password": "DB_PASSWORD",
        "passwordFieldType": "env"
    },
    {
        "id": "892d19e13d561664",
        "type": "postgresql",
        "z": "dbab6edfda7971c1",
        "g": "39bab5e26253c8ec",
        "name": "",
        "query": "",
        "postgreSQLConfig": "cf1453eb80b45c35",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1410,
        "y": 80,
        "wires": [
            [
                "7798693f4d1c5ad7"
            ]
        ]
    },
    {
        "id": "59cddae29935302b",
        "type": "http in",
        "z": "dbab6edfda7971c1",
        "g": "39bab5e26253c8ec",
        "name": "GET Countries",
        "url": "/countries",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1040,
        "y": 80,
        "wires": [
            [
                "3fa02e6179b373a7"
            ]
        ]
    },
    {
        "id": "e17212fe24b99c7d",
        "type": "postgresql",
        "z": "dbab6edfda7971c1",
        "g": "5e64576d309c62f9",
        "name": "",
        "query": "",
        "postgreSQLConfig": "cf1453eb80b45c35",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 570,
        "y": 340,
        "wires": [
            [
                "5ccdd48129b1bb9b"
            ]
        ]
    },
    {
        "id": "98c7524b6625525b",
        "type": "http in",
        "z": "dbab6edfda7971c1",
        "g": "5e64576d309c62f9",
        "name": "List Organizations",
        "url": "/organizations",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "fb2c076c83639249"
            ]
        ]
    },
    {
        "id": "10fe39b43b926ffa",
        "type": "http response",
        "z": "dbab6edfda7971c1",
        "g": "5e64576d309c62f9",
        "name": "200 OK",
        "statusCode": "",
        "headers": {},
        "x": 1000,
        "y": 360,
        "wires": []
    },
    {
        "id": "a1f8c1b0.8a3f9",
        "type": "http in",
        "z": "dbab6edfda7971c1",
        "g": "aad75d5c826ca0b1",
        "name": "List Members",
        "url": "/members",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 840,
        "wires": [
            [
                "9e9d7e60.87b97"
            ]
        ]
    },
    {
        "id": "9e9d7e60.87b97",
        "type": "function",
        "z": "dbab6edfda7971c1",
        "g": "aad75d5c826ca0b1",
        "name": "Prepare SQL Query",
        "func": "msg.query = \"SELECT * FROM members LIMIT 50\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 840,
        "wires": [
            [
                "d4d62d83d3a983e7"
            ]
        ]
    },
    {
        "id": "cbf657c0.fdae98",
        "type": "switch",
        "z": "dbab6edfda7971c1",
        "g": "aad75d5c826ca0b1",
        "name": "Check Query Result",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 780,
        "y": 840,
        "wires": [
            [
                "c2f7fbb0.89f8a8"
            ],
            [
                "f45c59e0.16d8c"
            ]
        ]
    },
    {
        "id": "c2f7fbb0.89f8a8",
        "type": "http response",
        "z": "dbab6edfda7971c1",
        "g": "aad75d5c826ca0b1",
        "name": "404 Not Found",
        "statusCode": "404",
        "headers": {},
        "x": 1040,
        "y": 800,
        "wires": []
    },
    {
        "id": "f45c59e0.16d8c",
        "type": "http response",
        "z": "dbab6edfda7971c1",
        "g": "aad75d5c826ca0b1",
        "name": "200 OK",
        "statusCode": "200",
        "headers": {},
        "x": 1040,
        "y": 880,
        "wires": []
    },
    {
        "id": "7e9f1c02.7f6d4",
        "type": "catch",
        "z": "dbab6edfda7971c1",
        "g": "14a048fb108bd56c",
        "name": "Catch Errors",
        "scope": null,
        "uncaught": false,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "4b4b8c6c.7a4644",
                "3c2ec599cb5c2c3e"
            ]
        ]
    },
    {
        "id": "4b4b8c6c.7a4644",
        "type": "switch",
        "z": "dbab6edfda7971c1",
        "g": "14a048fb108bd56c",
        "name": "Check Error Type",
        "property": "error.source",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "function",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "postgresql",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 420,
        "y": 120,
        "wires": [
            [
                "6d5f7d78.22c164"
            ],
            [
                "35edc91d.7b924e"
            ],
            [
                "5d2c72d4.7c8dec"
            ]
        ]
    },
    {
        "id": "6d5f7d78.22c164",
        "type": "http response",
        "z": "dbab6edfda7971c1",
        "g": "14a048fb108bd56c",
        "name": "400 Bad Request",
        "statusCode": "400",
        "headers": {},
        "x": 690,
        "y": 60,
        "wires": []
    },
    {
        "id": "35edc91d.7b924e",
        "type": "http response",
        "z": "dbab6edfda7971c1",
        "g": "14a048fb108bd56c",
        "name": "500 Internal Server Error",
        "statusCode": "500",
        "headers": {},
        "x": 690,
        "y": 120,
        "wires": []
    },
    {
        "id": "5d2c72d4.7c8dec",
        "type": "http response",
        "z": "dbab6edfda7971c1",
        "g": "14a048fb108bd56c",
        "name": "403 Forbidden",
        "statusCode": "403",
        "headers": {},
        "x": 690,
        "y": 180,
        "wires": []
    },
    {
        "id": "5ccdd48129b1bb9b",
        "type": "switch",
        "z": "dbab6edfda7971c1",
        "g": "5e64576d309c62f9",
        "name": "Check Query Result",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 760,
        "y": 340,
        "wires": [
            [
                "4850bfe9234cfc08"
            ],
            [
                "10fe39b43b926ffa"
            ]
        ]
    },
    {
        "id": "4850bfe9234cfc08",
        "type": "http response",
        "z": "dbab6edfda7971c1",
        "g": "5e64576d309c62f9",
        "name": "404 Not Found",
        "statusCode": "404",
        "headers": {},
        "x": 1020,
        "y": 300,
        "wires": []
    },
    {
        "id": "fb2c076c83639249",
        "type": "function",
        "z": "dbab6edfda7971c1",
        "g": "5e64576d309c62f9",
        "name": "Prepare SQL Query",
        "func": "msg.query = \"SELECT org_name, org_id FROM organizations\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 340,
        "wires": [
            [
                "e17212fe24b99c7d"
            ]
        ]
    },
    {
        "id": "3fa02e6179b373a7",
        "type": "function",
        "z": "dbab6edfda7971c1",
        "g": "39bab5e26253c8ec",
        "name": "Prepare SQL Query",
        "func": "msg.query = \"SELECT * FROM countries;\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 80,
        "wires": [
            [
                "892d19e13d561664"
            ]
        ]
    },
    {
        "id": "7798693f4d1c5ad7",
        "type": "switch",
        "z": "dbab6edfda7971c1",
        "g": "39bab5e26253c8ec",
        "name": "Check Query Result",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1600,
        "y": 80,
        "wires": [
            [
                "fab558f57eee55da"
            ],
            [
                "5c48384cd53ed955"
            ]
        ]
    },
    {
        "id": "fab558f57eee55da",
        "type": "http response",
        "z": "dbab6edfda7971c1",
        "g": "39bab5e26253c8ec",
        "name": "404 Not Found",
        "statusCode": "404",
        "headers": {},
        "x": 1840,
        "y": 60,
        "wires": []
    },
    {
        "id": "5c48384cd53ed955",
        "type": "http response",
        "z": "dbab6edfda7971c1",
        "g": "39bab5e26253c8ec",
        "name": "200 OK",
        "statusCode": "200",
        "headers": {},
        "x": 1840,
        "y": 100,
        "wires": []
    },
    {
        "id": "6d7427d7f4446999",
        "type": "http in",
        "z": "dbab6edfda7971c1",
        "g": "ba352a33ad13b2d1",
        "name": "Create Member",
        "url": "/members",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 1000,
        "wires": [
            [
                "92b39ec92961af98"
            ]
        ]
    },
    {
        "id": "92b39ec92961af98",
        "type": "function",
        "z": "dbab6edfda7971c1",
        "g": "ba352a33ad13b2d1",
        "name": "Prepare SQL Insert",
        "func": "const { \n    member_firstname, \n    member_lastname, \n    member_email, \n    member_picture, \n    member_languages, \n    member_summary, \n    country_id, \n    member_password, \n    skill_id \n} = msg.payload;\n\n// Validation\nif (!member_firstname || typeof member_firstname !== 'string' || member_firstname.trim() === '') {\n    node.error('Missing or invalid member_firstname', msg);\n    return null;\n}\n\nif (!member_lastname || typeof member_lastname !== 'string' || member_lastname.trim() === '') {\n    node.error('Missing or invalid member_lastname', msg);\n    return null;\n}\n\nif (!member_email || typeof member_email !== 'string' || !/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(member_email)) {\n    node.error('Missing or invalid member_email', msg);\n    return null;\n}\n\nif (!member_password || typeof member_password !== 'string' || member_password.trim() === '') {\n    node.error('Missing or invalid member_password', msg);\n    return null;\n}\n\n\n// Convert member_languages array to PostgreSQL array literal format\nconst formatted_languages = `{${member_languages.join(',')}}`;\n\n// Prepare SQL\nmsg.query = `\n    INSERT INTO members (\n        member_firstname, member_lastname, member_email, member_picture, \n        member_languages, member_summary, country_id, \n        member_password, member_status, skill_id\n    ) \n    VALUES (\n        $1, $2, $3, $4, \n        $5, $6, $7, $8, \n        $9, $10\n    ) \n    RETURNING *;\n`;\n\nmsg.params = [\n    member_firstname, \n    member_lastname, \n    member_email, \n    member_picture || null, \n    formatted_languages, \n    member_summary, \n    country_id || null, \n    member_password, \n    \"new\", \n    skill_id || null\n];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1000,
        "wires": [
            [
                "22db6159d7c74659"
            ]
        ]
    },
    {
        "id": "a5b57367463c4ecf",
        "type": "switch",
        "z": "dbab6edfda7971c1",
        "g": "ba352a33ad13b2d1",
        "name": "Check Insert Result",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "array",
                "vt": "array"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 1000,
        "wires": [
            [
                "54387abb3b891c74"
            ],
            [
                "2b7eed18ecbca6f1"
            ]
        ]
    },
    {
        "id": "e4a8ee9f08e8c364",
        "type": "http response",
        "z": "dbab6edfda7971c1",
        "g": "ba352a33ad13b2d1",
        "name": "201 Created",
        "statusCode": "201",
        "headers": {},
        "x": 1150,
        "y": 980,
        "wires": []
    },
    {
        "id": "2b7eed18ecbca6f1",
        "type": "http response",
        "z": "dbab6edfda7971c1",
        "g": "ba352a33ad13b2d1",
        "name": "400 Bad Request",
        "statusCode": "400",
        "headers": {},
        "x": 1100,
        "y": 1040,
        "wires": []
    },
    {
        "id": "3c2ec599cb5c2c3e",
        "type": "debug",
        "z": "dbab6edfda7971c1",
        "g": "14a048fb108bd56c",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 160,
        "wires": []
    },
    {
        "id": "d4d62d83d3a983e7",
        "type": "postgresql",
        "z": "dbab6edfda7971c1",
        "g": "aad75d5c826ca0b1",
        "name": "",
        "query": "",
        "postgreSQLConfig": "cf1453eb80b45c35",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 570,
        "y": 840,
        "wires": [
            [
                "cbf657c0.fdae98"
            ]
        ]
    },
    {
        "id": "22db6159d7c74659",
        "type": "postgresql",
        "z": "dbab6edfda7971c1",
        "g": "ba352a33ad13b2d1",
        "name": "",
        "query": "",
        "postgreSQLConfig": "cf1453eb80b45c35",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 630,
        "y": 1000,
        "wires": [
            [
                "a5b57367463c4ecf"
            ]
        ]
    },
    {
        "id": "54387abb3b891c74",
        "type": "function",
        "z": "dbab6edfda7971c1",
        "g": "ba352a33ad13b2d1",
        "name": "resp",
        "func": "// Extract the member ID from the database query result\nconst createdMember = msg.payload[0]; // Assuming the result is in the first element of the array\n\n// Prepare the response message\nmsg.payload = {\n    message: \"Member has been successfully created\",\n    member_id: createdMember.member_id\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 980,
        "wires": [
            [
                "e4a8ee9f08e8c364"
            ]
        ]
    },
    {
        "id": "82295bac7cc91747",
        "type": "http in",
        "z": "dbab6edfda7971c1",
        "g": "2d9b645b715b3674",
        "name": "Get Member by ID",
        "url": "/members/:member_id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 1180,
        "wires": [
            [
                "4e6ae77d45269344"
            ]
        ]
    },
    {
        "id": "4e6ae77d45269344",
        "type": "function",
        "z": "dbab6edfda7971c1",
        "g": "2d9b645b715b3674",
        "name": "Prepare SQL Query",
        "func": "const member_id = msg.req.params.member_id;\n\n// Prepare SQL to get the member without the password\nmsg.query = `\n    SELECT \n        member_id, \n        member_firstname, \n        member_lastname, \n        member_email, \n        member_picture, \n        member_languages, \n        member_summary, \n        team_id, \n        country_id, \n        member_status, \n        member_level, \n        member_credit, \n        member_xp, \n        skill_id, \n        creation_date\n    FROM \n        members\n    WHERE \n        member_id = $1\n`;\n\nmsg.params = [member_id];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1180,
        "wires": [
            [
                "41226e2964bced0c"
            ]
        ]
    },
    {
        "id": "541012e863a8c76e",
        "type": "switch",
        "z": "dbab6edfda7971c1",
        "g": "2d9b645b715b3674",
        "name": "Check Query Result",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 1180,
        "wires": [
            [
                "a23c829360ae74a5"
            ],
            [
                "fe0cb3ef10d094be"
            ]
        ]
    },
    {
        "id": "a23c829360ae74a5",
        "type": "function",
        "z": "dbab6edfda7971c1",
        "g": "2d9b645b715b3674",
        "name": "Format Response",
        "func": "// Extract the member data from the query result\nconst member = msg.payload[0];\n\n// Prepare the response message\nmsg.payload = {\n    message: \"Member found\",\n    member: member\n};\n\n// Set the response status code\nmsg.statusCode = 200;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 1140,
        "wires": [
            [
                "f586c686d6c6d459"
            ]
        ]
    },
    {
        "id": "fe0cb3ef10d094be",
        "type": "http response",
        "z": "dbab6edfda7971c1",
        "g": "2d9b645b715b3674",
        "name": "404 Not Found",
        "statusCode": "404",
        "headers": {},
        "x": 1110,
        "y": 1220,
        "wires": []
    },
    {
        "id": "f586c686d6c6d459",
        "type": "http response",
        "z": "dbab6edfda7971c1",
        "g": "2d9b645b715b3674",
        "name": "200 OK",
        "statusCode": "200",
        "headers": {},
        "x": 1250,
        "y": 1140,
        "wires": []
    },
    {
        "id": "41226e2964bced0c",
        "type": "postgresql",
        "z": "dbab6edfda7971c1",
        "g": "2d9b645b715b3674",
        "name": "",
        "query": "",
        "postgreSQLConfig": "cf1453eb80b45c35",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 630,
        "y": 1180,
        "wires": [
            [
                "541012e863a8c76e"
            ]
        ]
    },
    {
        "id": "85eb02be4a9401ad",
        "type": "http in",
        "z": "dbab6edfda7971c1",
        "g": "383b1f1fa33c8505",
        "name": "Create Organization",
        "url": "/organizations",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 660,
        "wires": [
            [
                "63739fed659fe368"
            ]
        ]
    },
    {
        "id": "63739fed659fe368",
        "type": "function",
        "z": "dbab6edfda7971c1",
        "g": "383b1f1fa33c8505",
        "name": "Prepare SQL Insert",
        "func": "const { \n    org_name, \n    org_email, \n    org_picture, \n    org_languages, \n    org_summary, \n    country_id \n} = msg.payload;\n\n// Validation\nif (!org_name || typeof org_name !== 'string' || org_name.trim() === '') {\n    node.error('Missing or invalid org_name', msg);\n    return null;\n}\n\nif (!org_email || typeof org_email !== 'string' || !/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(org_email)) {\n    node.error('Missing or invalid org_email', msg);\n    return null;\n}\n\n\n\n// Convert org_languages array to PostgreSQL array literal format\nconst formatted_languages = `{${org_languages.join(',')}}`;\n\n// Prepare SQL\nmsg.query = `\n    INSERT INTO organizations (\n        org_name, org_email, org_picture, \n        org_languages, org_summary, country_id\n    ) \n    VALUES (\n        $1, $2, $3, \n        $4, $5, $6\n    ) \n    RETURNING *;\n`;\n\nmsg.params = [\n    org_name, \n    org_email, \n    org_picture, \n    formatted_languages, \n    org_summary, \n    country_id || null\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 660,
        "wires": [
            [
                "cee2b67c7a1b2eb8"
            ]
        ]
    },
    {
        "id": "76cd51faaace4d2a",
        "type": "switch",
        "z": "dbab6edfda7971c1",
        "g": "383b1f1fa33c8505",
        "name": "Check Insert Result",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 660,
        "wires": [
            [
                "4cbff012b0a8503e"
            ],
            [
                "b15896363a42e71b"
            ]
        ]
    },
    {
        "id": "4cbff012b0a8503e",
        "type": "function",
        "z": "dbab6edfda7971c1",
        "g": "383b1f1fa33c8505",
        "name": "Create Response",
        "func": "// Extract the organization ID from the query result\nconst createdOrg = msg.payload[0];\n\n// Prepare the response message\nmsg.payload = {\n    message: \"Organization has been successfully created\",\n    org_id: createdOrg.org_id\n};\n\n// Set the response status code\nmsg.statusCode = 201;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 640,
        "wires": [
            [
                "5f67325b39410bc6"
            ]
        ]
    },
    {
        "id": "b15896363a42e71b",
        "type": "http response",
        "z": "dbab6edfda7971c1",
        "g": "383b1f1fa33c8505",
        "name": "400 Bad Request",
        "statusCode": "400",
        "headers": {},
        "x": 1070,
        "y": 700,
        "wires": []
    },
    {
        "id": "5f67325b39410bc6",
        "type": "http response",
        "z": "dbab6edfda7971c1",
        "g": "383b1f1fa33c8505",
        "name": "201 Created",
        "statusCode": "201",
        "headers": {},
        "x": 1190,
        "y": 640,
        "wires": []
    },
    {
        "id": "cee2b67c7a1b2eb8",
        "type": "postgresql",
        "z": "dbab6edfda7971c1",
        "g": "383b1f1fa33c8505",
        "name": "",
        "query": "",
        "postgreSQLConfig": "cf1453eb80b45c35",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 590,
        "y": 660,
        "wires": [
            [
                "76cd51faaace4d2a"
            ]
        ]
    },
    {
        "id": "aeaf33e6aaa4f214",
        "type": "function",
        "z": "dbab6edfda7971c1",
        "g": "05b8ed53065a8cd1",
        "name": "Prepare SQL Query",
        "func": "const org_id = msg.req.params.org_id;\n\n// Prepare SQL to get the member without the password\nmsg.query = `\n    SELECT \n        *\n    FROM \n        organizations\n    WHERE \n        org_id = $1\n`;\n\nmsg.params = [org_id];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 500,
        "wires": [
            [
                "2e0619425460a3d3"
            ]
        ]
    },
    {
        "id": "cd60ed703e819022",
        "type": "switch",
        "z": "dbab6edfda7971c1",
        "g": "05b8ed53065a8cd1",
        "name": "Check Query Result",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 500,
        "wires": [
            [
                "213939d54a3fc324"
            ],
            [
                "9b103e3f30e49e8d"
            ]
        ]
    },
    {
        "id": "213939d54a3fc324",
        "type": "function",
        "z": "dbab6edfda7971c1",
        "g": "05b8ed53065a8cd1",
        "name": "Format Response",
        "func": "// Extract the member data from the query result\nconst organization = msg.payload[0];\n\n// Prepare the response message\nmsg.payload = {\n    message: \"Organization found\",\n    organization: organization\n};\n\n// Set the response status code\nmsg.statusCode = 200;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 460,
        "wires": [
            [
                "eacd64c8e4844be5"
            ]
        ]
    },
    {
        "id": "9b103e3f30e49e8d",
        "type": "http response",
        "z": "dbab6edfda7971c1",
        "g": "05b8ed53065a8cd1",
        "name": "404 Not Found",
        "statusCode": "404",
        "headers": {},
        "x": 1070,
        "y": 540,
        "wires": []
    },
    {
        "id": "eacd64c8e4844be5",
        "type": "http response",
        "z": "dbab6edfda7971c1",
        "g": "05b8ed53065a8cd1",
        "name": "200 OK",
        "statusCode": "200",
        "headers": {},
        "x": 1210,
        "y": 460,
        "wires": []
    },
    {
        "id": "2e0619425460a3d3",
        "type": "postgresql",
        "z": "dbab6edfda7971c1",
        "g": "05b8ed53065a8cd1",
        "name": "",
        "query": "",
        "postgreSQLConfig": "cf1453eb80b45c35",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 590,
        "y": 500,
        "wires": [
            [
                "cd60ed703e819022"
            ]
        ]
    },
    {
        "id": "4fa2ca320785a2e4",
        "type": "http in",
        "z": "dbab6edfda7971c1",
        "g": "05b8ed53065a8cd1",
        "name": "Get Organization by ID",
        "url": "/organizations/:org_id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "aeaf33e6aaa4f214"
            ]
        ]
    },
    {
        "id": "5a7ada1f4c09f766",
        "type": "http response",
        "z": "dbab6edfda7971c1",
        "g": "2b91f5927dfc193f",
        "name": "200 OK",
        "statusCode": "200",
        "headers": {},
        "x": 1020,
        "y": 1420,
        "wires": []
    },
    {
        "id": "b374cb0fea6b3897",
        "type": "switch",
        "z": "dbab6edfda7971c1",
        "g": "2b91f5927dfc193f",
        "name": "Check Query Result",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 760,
        "y": 1380,
        "wires": [
            [
                "c2478e40eca32f8d"
            ],
            [
                "5a7ada1f4c09f766"
            ]
        ]
    },
    {
        "id": "c2478e40eca32f8d",
        "type": "http response",
        "z": "dbab6edfda7971c1",
        "g": "2b91f5927dfc193f",
        "name": "404 Not Found",
        "statusCode": "404",
        "headers": {},
        "x": 1020,
        "y": 1340,
        "wires": []
    },
    {
        "id": "0ca2e856aba81c1d",
        "type": "function",
        "z": "dbab6edfda7971c1",
        "g": "2b91f5927dfc193f",
        "name": "Prepare SQL Query",
        "func": "msg.query = \"SELECT * FROM activities LIMIT 50\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1380,
        "wires": [
            [
                "aef9c751fd89b4db"
            ]
        ]
    },
    {
        "id": "a507e8ae8429cd78",
        "type": "http in",
        "z": "dbab6edfda7971c1",
        "g": "2b91f5927dfc193f",
        "name": "List Activities",
        "url": "/activities",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 1380,
        "wires": [
            [
                "0ca2e856aba81c1d"
            ]
        ]
    },
    {
        "id": "aef9c751fd89b4db",
        "type": "postgresql",
        "z": "dbab6edfda7971c1",
        "g": "2b91f5927dfc193f",
        "name": "",
        "query": "",
        "postgreSQLConfig": "cf1453eb80b45c35",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 550,
        "y": 1380,
        "wires": [
            [
                "b374cb0fea6b3897"
            ]
        ]
    },
    {
        "id": "238b583f038c7769",
        "type": "http in",
        "z": "dbab6edfda7971c1",
        "g": "4e3f58172aca87d0",
        "name": "Create Activity",
        "url": "/activities",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 1540,
        "wires": [
            [
                "f5b74102881341fa"
            ]
        ]
    },
    {
        "id": "f5b74102881341fa",
        "type": "function",
        "z": "dbab6edfda7971c1",
        "g": "4e3f58172aca87d0",
        "name": "Prepare SQL Insert",
        "func": "const { \n    activity_name, \n    activity_desc, \n    activity_xp, \n    activity_credit, \n    activity_type, \n    activity_startdate, \n    activity_enddate, \n    activity_owner, \n    activity_org, \n    skills_id, \n    sdg_id \n} = msg.payload;\n\n// Validation\nif (!activity_name || typeof activity_name !== 'string' || activity_name.trim() === '') {\n    node.error('Missing or invalid activity_name', msg);\n    return null;\n}\n\nif (!activity_type || typeof activity_type !== 'string' || activity_type.trim() === '') {\n    node.error('Missing or invalid activity_type', msg);\n    return null;\n}\n\nif (!activity_xp || typeof activity_xp !== 'number') {\n    node.error('Missing or invalid activity_xp', msg);\n    return null;\n}\n\nif (!activity_credit || typeof activity_credit !== 'number') {\n    node.error('Missing or invalid activity_credit', msg);\n    return null;\n}\n\nif (!activity_owner || !/^[0-9a-fA-F-]{36}$/.test(activity_owner)) {\n    node.error('Missing or invalid activity_owner (UUID)', msg);\n    return null;\n}\n\nif (!activity_org || !/^[0-9a-fA-F-]{36}$/.test(activity_org)) {\n    node.error('Missing or invalid activity_org (UUID)', msg);\n    return null;\n}\n\n// Use current timestamp if activity_startdate is not provided\nconst start_date = activity_startdate || new Date().toISOString();\n\n// Prepare SQL\nmsg.query = `\n    INSERT INTO activities (\n        activity_name, \n        activity_desc, \n        activity_xp, \n        activity_credit, \n        activity_type, \n        activity_startdate, \n        activity_enddate, \n        activity_owner, \n        activity_org, \n        skills_id, \n        sdg_id\n    ) \n    VALUES (\n        $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11\n    ) \n    RETURNING *;\n`;\n\nmsg.params = [\n    activity_name, \n    activity_desc || null, \n    activity_xp, \n    activity_credit, \n    activity_type, \n    start_date, \n    activity_enddate || null, \n    activity_owner, \n    activity_org, \n    skills_id || null, \n    sdg_id || null\n];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1540,
        "wires": [
            [
                "307e56627f59548e"
            ]
        ]
    },
    {
        "id": "307e56627f59548e",
        "type": "postgresql",
        "z": "dbab6edfda7971c1",
        "g": "4e3f58172aca87d0",
        "name": "",
        "query": "",
        "postgreSQLConfig": "cf1453eb80b45c35",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 610,
        "y": 1540,
        "wires": [
            [
                "bf2f9e68553ccb75"
            ]
        ]
    },
    {
        "id": "bf2f9e68553ccb75",
        "type": "switch",
        "z": "dbab6edfda7971c1",
        "g": "4e3f58172aca87d0",
        "name": "Check Insert Result",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "array",
                "vt": "array"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 1540,
        "wires": [
            [
                "bc531713bb82c1d0"
            ],
            [
                "18a014b66159eb6f"
            ]
        ]
    },
    {
        "id": "ed2d2dc8c080fab8",
        "type": "http response",
        "z": "dbab6edfda7971c1",
        "g": "4e3f58172aca87d0",
        "name": "201 Created",
        "statusCode": "201",
        "headers": {},
        "x": 1130,
        "y": 1520,
        "wires": []
    },
    {
        "id": "18a014b66159eb6f",
        "type": "http response",
        "z": "dbab6edfda7971c1",
        "g": "4e3f58172aca87d0",
        "name": "400 Bad Request",
        "statusCode": "400",
        "headers": {},
        "x": 1080,
        "y": 1580,
        "wires": []
    },
    {
        "id": "bc531713bb82c1d0",
        "type": "function",
        "z": "dbab6edfda7971c1",
        "g": "4e3f58172aca87d0",
        "name": "resp",
        "func": "// Extract the member ID from the database query result\nconst createdActivity = msg.payload[0]; // Assuming the result is in the first element of the array\n\n// Prepare the response message\nmsg.payload = {\n    message: \"Activity has been successfully created\",\n    activity_id: createdActivity.activity_id\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 1520,
        "wires": [
            [
                "ed2d2dc8c080fab8"
            ]
        ]
    },
    {
        "id": "b019c1b471ba4625",
        "type": "function",
        "z": "dbab6edfda7971c1",
        "g": "aefbdd2e49c81e3f",
        "name": "Prepare SQL Query",
        "func": "const activity_id = msg.req.params.activity_id;\n\n// Prepare SQL to get the member without the password\nmsg.query = `\n    SELECT \n        *\n    FROM \n        activities\n    WHERE \n        activity_id = $1\n`;\n\nmsg.params = [activity_id];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1720,
        "wires": [
            [
                "36a435dd5284487f"
            ]
        ]
    },
    {
        "id": "1b1493fa8a5b9912",
        "type": "switch",
        "z": "dbab6edfda7971c1",
        "g": "aefbdd2e49c81e3f",
        "name": "Check Query Result",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 1720,
        "wires": [
            [
                "45582769dbee1f97"
            ],
            [
                "98680c88a7e3bbb2"
            ]
        ]
    },
    {
        "id": "45582769dbee1f97",
        "type": "function",
        "z": "dbab6edfda7971c1",
        "g": "aefbdd2e49c81e3f",
        "name": "Format Response",
        "func": "// Extract the member data from the query result\nconst activity = msg.payload[0];\n\n// Prepare the response message\nmsg.payload = {\n    message: \"Activity found\",\n    activity: activity\n};\n\n// Set the response status code\nmsg.statusCode = 200;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 1680,
        "wires": [
            [
                "85a14efd439eb0a3"
            ]
        ]
    },
    {
        "id": "98680c88a7e3bbb2",
        "type": "http response",
        "z": "dbab6edfda7971c1",
        "g": "aefbdd2e49c81e3f",
        "name": "404 Not Found",
        "statusCode": "404",
        "headers": {},
        "x": 1090,
        "y": 1760,
        "wires": []
    },
    {
        "id": "85a14efd439eb0a3",
        "type": "http response",
        "z": "dbab6edfda7971c1",
        "g": "aefbdd2e49c81e3f",
        "name": "200 OK",
        "statusCode": "200",
        "headers": {},
        "x": 1230,
        "y": 1680,
        "wires": []
    },
    {
        "id": "36a435dd5284487f",
        "type": "postgresql",
        "z": "dbab6edfda7971c1",
        "g": "aefbdd2e49c81e3f",
        "name": "",
        "query": "",
        "postgreSQLConfig": "cf1453eb80b45c35",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 610,
        "y": 1720,
        "wires": [
            [
                "1b1493fa8a5b9912"
            ]
        ]
    },
    {
        "id": "aac726b02e5b233f",
        "type": "http in",
        "z": "dbab6edfda7971c1",
        "g": "aefbdd2e49c81e3f",
        "name": "Get Activity by ID",
        "url": "/activities/:activity_id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 1720,
        "wires": [
            [
                "b019c1b471ba4625"
            ]
        ]
    }
]