flows.json
[
    {
        "id": "dbab6edfda7971c1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cf1453eb80b45c35",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "{DB_HOST}",
        "hostFieldType": "env",
        "port": "{DB_PORT}",
        "portFieldType": "env",
        "database": "{DB_USER}",
        "databaseFieldType": "env",
        "ssl": "{ \"require\": true, \"rejectUnauthorized\": false }",
        "sslFieldType": "json",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "{DB_NAME}",
        "userFieldType": "env",
        "password": "{DB_PASSWORD}",
        "passwordFieldType": "env"
    },
    {
        "id": "022207e55802b8f3",
        "type": "inject",
        "z": "dbab6edfda7971c1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "892d19e13d561664"
            ]
        ]
    },
    {
        "id": "892d19e13d561664",
        "type": "postgresql",
        "z": "dbab6edfda7971c1",
        "name": "",
        "query": "SELECT * FROM countries;",
        "postgreSQLConfig": "cf1453eb80b45c35",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 370,
        "y": 100,
        "wires": [
            [
                "d015e2d9c547fff8",
                "14e5426f4385592e"
            ]
        ]
    },
    {
        "id": "d015e2d9c547fff8",
        "type": "debug",
        "z": "dbab6edfda7971c1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 100,
        "wires": []
    },
    {
        "id": "59cddae29935302b",
        "type": "http in",
        "z": "dbab6edfda7971c1",
        "name": "GET Countries",
        "url": "/countries",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "892d19e13d561664"
            ]
        ]
    },
    {
        "id": "14e5426f4385592e",
        "type": "http response",
        "z": "dbab6edfda7971c1",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 160,
        "wires": []
    }
]